

<h3>Past Events</h3>
<hr>
<% Event.past.each do |event| %>
    <h4> <%= event.event_name %> </h6>
    <h6> <em><%=event.eventDate%></em> </h6>

    <%= simple_form_for(event, url: create_attendee_event_path(event)) do |f| %>
       <%= f.submit "Click to Attend", class: "btn btn-info" %>
    <% end %>
    <br>

    <%= link_to "View Details", event, class: "btn btn-info" %>

    <hr>
<% end %>

<h3>Future Events </h3>
<hr>
<% Event.upcoming.each do |event| %>
    <h4> <%= event.event_name %> </h6>
    <h6> <em><%=event.eventDate%></em> </h6>

    <%= simple_form_for(event, url: create_attendee_event_path(event)) do |f| %>
       <%= f.submit "Click to Attend", class: "btn btn-info" %>
    <% end %>
    <br>

    <%= link_to "View Details", event, class: "btn btn-info" %>

    <hr>
<% end %>